body{
    background: #f3f3f3;
}
header  {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    width: 600px;
    height: 550px;
    margin: 30px auto 0 auto ;
    padding-bottom: 0%;
    background: white;
    box-shadow: 0px 0 30px 10px rgb(231, 231, 231);
    border-radius: 10px ;
}


img{
    display: inline-block;
    width: 25%;
    margin: 30px 220px 0;
    border-radius: 120px;
}

.titulo{
    text-align: center;
    font-size: 28px;
}

p{
    text-align: center;
    font-size: 16px;
    text-justify: distribute;
    padding: 0px 30px; 
}

nav{
    position: absolute;
    padding: 0px 0px 0 0;
}
nav li {
    display: inline-flex; 
    padding: 0px 10px 10px 47px;
}

nav button {
    background: rgb(250, 194, 11);
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    
}

nav button:hover{
    background:rgb(11, 162, 250);
    transition-duration: 500ms;
}


nav a{
    text-decoration: none;
    color: cornsilk;
}

@media screen and (max-width:480px){
    header  {
        font-family: 'Roboto Mono', monospace;
        position: relative;
        width: 300px;
        height: 750px;
        margin: 30px auto 0px auto ;
        padding-bottom: 0%;
        background: white;
        box-shadow: 0px 0 30px 10px rgb(231, 231, 231);
        border-radius: 10px ;
    }

    img{
        display: inline-block;
        width: 45%;
        margin: 30px 90px 0px;
        border-radius: 120px;
    }

    nav li {
        display: inline-flex;
        padding: 0px 5px 15px 0px;

}
