body{
    background: #f3f3f3;
}
.caixa  {
    position: relative;
    width: 940px;
    margin: 50px auto 0 auto ;
    background: white;
    box-shadow: 0px 0 30px 10px rgb(231, 231, 231);
    border-radius: 10px 10px 0 0 ;
}


img{
    display: inline-block;
    margin: 50px  350px;
    border-radius: 120px;
}

/* main */

main{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    width: 940px;
    margin:  0 auto ;
    background: white;

}

.titulo{
    text-align: center;
    font-size: 28px;
    padding: 0 0 20px 0;
}

p{
    text-align: center;
    font-size: 16px;
    text-justify: auto;

     
}


/* footer */

footer{
    position: relative;
    width: 940px;
    margin: 0 auto ;
    background: white;

}

li {
    display: inline; 
    margin: 0 auto;
}